@import url("./assets/css/meanmenu.css");
@import url("./assets/css/main.css");
/* shop.css загружается динамически только на страницах магазина */

/* Добавляем container-fluid для совместимости с bootstrap-grid */
.container-fluid {
	width: 100%;
	padding-right: var(--bs-gutter-x, 0.75rem);
	padding-left: var(--bs-gutter-x, 0.75rem);
	margin-right: auto;
	margin-left: auto;
}
